.planScreen_plan{
    display: flex;
    justify-content: space-between;
    padding:20px;
    opacity: 0.8;
}

.planScreen_plan:hover{
    opacity: 1;
}

.planScreen_plan>button
{
    padding: 10px 20px;
    background-color: #e50714;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.2rem;
    
}