.signupScreen{
    /* to make it central */
    max-width:300px ;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.85);

}
.signupScreen>form{
    /* to make all boxes one below other */
    display: grid;
}

.signupScreen>form>h1{
    text-align: left;
    margin-bottom: 25px;
}

.signupScreen>form>h4{
    text-align: left;
    margin-top: 25px;

}
.signupScreen_gray{
    color: gray;
    font-weight: 300;
}

.signupScreen_link:hover{
  cursor: pointer;
  text-decoration: underline;
}
.signupScreen>form>input{
    padding:5px 20px ;
    height: 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 6px;
}

.signupScreen>form>button{
    color: white;
    border: none;
    padding: 16px 20px;
    font-size: 1rem;
    background-color: #e50914 ;
    border-radius: 5px;
    border: none;
   cursor: pointer;
                font-weight: 600;
            margin-top: 20px;
}